<p id="notice"><%= notice %></p>

<div class="row">

<!--  - - - - - - - - - - - - - - - - - - Left Column - - - - - - - - - - - - - - - - - -  -->

  <div class="col-md-3">

<!-- - - - - - - - -User Stats - - - - - - - - -->

    <div class="panel panel-default">
      <div class="panel-body">
        Profile Photo
        <br>
        User Name
        <br>
        @Username
        <br>
        <br>
        Tweets
        <br>
        Following
        <br>
        Followers
      </div>
    </div>



  </div>

<!--  - - - - - - - - - - - - - - - - - - Center Column - - - - - - - - - - - - - - - - - -  -->

  <div class="col-md-6">

<!-- - - - - - - - New Tweet Form - - - - - - - -->

    <div class="panel panel-default">
      <div class="panel-body">
        <h4>New Tweet Form</h4>
      </div>
  </div>

<!--  - - - - - - - Display Tweets - - - - - - - -->

    <% @t.each do |x| %>

      <div class="panel panel-default" id="tweet">
        <div class="panel-body">

          <%= x.message %>
          <%= x.user.username %>
          <%= link_to 'Show', x %>
          <%= link_to 'Edit', edit_tweet_path(x) %>
          <%= link_to 'Destroy', x, method: :delete, data: { confirm: 'Are you sure?' } %>

        </div>

      </div>

    <% end %>

  </div>

  <!-- - - - - - - - - - - - - - - - - - - Right Column  - -  - - - - - - - - - - - - - - - - -->

  <div class="col-md-3">

<!-- - - - Copyright and other site links - - - -->

    <div class="panel panel-default">
      <div class="panel-body">
        Copyright
        <br>
        <br>
        About
        <br>
        <br>
        Any other site links that don't fit elsewhere
      </div>
    </div>

  </div>

</div> <!-- Row -->
